{% extends "base_generic.html" %}

{% block content %}
    <h3> Список существующих автомобилей</h3>
    <table>
        <thead>
            <th>
                Id
            </th>
            <th>
                Марка
            </th>
            <th>
                Модель
            </th>
        </thead>

        {% if car %}
            {% for car in car.all %}
                <tr>
                    <td>{{car.id}}</td>
                    <td>{{car.title}}</td>
                    <td>{{car.model}}</td>
                    <td><a href="/edit1/{{car.id}}">Изменить</a>,
                        <a href="/delete_car/{{car.id}}">Удалить</a></td>
                </tr>
            {% endfor %}
        {% else %}}
            <p>В базе данных нет существующих автомобилей</p>
        {% endif %}
    </table>

    <h3>Добавить новый автомобиль</h3>
    <form method="POST" action="/create_car/">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Сохранить">
    </form>
{% endblock %}