{% extends "base_generic.html" %}
{% block content %}
    <dev class="login">
        {% if form.errors %}
            <р>Ваши имя пользователя и пароль не совпали. Пожалуйста, попробуйте еще раз.</р>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <р>Вы не имеете доступа к этой странице. Войдите в систему с другими параметрами</р>
            {% else %}
                <p>Войдите в систему, чтобы увидеть эту страницу.</p>
            {% endif %}
        {% endif %}

        <form method = "post" action = "{% url 'login' %}">
        {% csrf_token %}
        <tаblе>

        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>

        </tаblе>

        <input type = "submit" value = "Bxoд" />
        <input type = "hidden" name = "next" value = "{{ next }}" />
        </form>

        {# Предполагается, что вы настроили представление password_reset в своем URLconf #}
            <p><a href="{% url 'password_reset' %}"> Утерян пароль?</a></p>
    </dev>
{% endblock %}