.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

img.img-article-left {
	max-width: 300px;
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
}

body{
	background: #2c2c2c;
}

aside{
	float: left;
	background: #181818;
	width: 28%;
	padding: 2.5%;
	height: 100vh;
	color: #fff;
	border-right: 5px solid #4d4d4d;
}

aside img{
	width: 90px;
	float: left;
}

aside .logo{
	font-size: 35px;
	margin-left: 30px;
	font-weight: bold;
	position: relative;
	bottom: -20px;
}

aside h3{
	margin-top: 90px;
	font-size: 25px;
}
aside ul {
	list-stile: none
}

aside ul li{
	color: #ffffff;
	display: block;
	margin-top: 20px;
	transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
	color: #eb5959;
	text-decoration: none;
	transform: scale(1.05);
}

main .features{
	float: left;
	color: #fff;
	margin-top: 50px;
	text-align: center;
	width: 65%;
}

main .features ul{
	list-style: none;
}

main .features h1{
	font-size: 50px;
}

main .car_list{
	float: left;
	color: #fff;
	margin-top: 50px;
	text-align: center;
	width: 65%;
}

footer{
	float: left;
	color: #fff;
	margin-top: 50px;
	text-align: center;
	width: 65%;
}

.login{
	float: left;
	color: #fff;
	margin-top: 50px;
	text-align: center;
	width: 65%;
}