<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Аренда автомобилей</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
                        initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Добавление статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}
      <img src="{% static 'images/logo.jpg' %}"
      style="width:100px; height:100px;"  align="absmiddle">
      <font size=7, color="blue">"Аренда автомобилей"</font>
  {% endblock %}
</head>

<body>
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'home' %}">Главная страница</a></li>
          <li><a href="{% url 'cars' %}">Все автомобили</a></li>
          <li><a href="">Все производители</a></li>
      </ul>
      {% endblock %}
      </div>
      <div class="col-sm-10">
      {% block content %}
      {% endblock %}

      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{page_obj.previous_page_number}}">Предыдущая</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из
                        {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{page_obj.next_page_number}}">Следующая</a>
                {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}

      {% block footer %}
         {% block copyright %}
            <p>Copyright ООО "Аренда автомобилей", 2022. Все права защищены</p>
         {% endblock %}
      {% endblock %}

      </div>
    </div>
  </div>
</body>
</html>

